.signIn {
  margin-top: 10px ;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  padding: 1rem;
  text-align: center;
  background-color: gray
}

.signIn div {
  display: flex;
  flex-direction: column;
}

.signIn input {
  margin: 4%;
}

.signIn button {
  display: inline-block;
  border-radius: 2px;
}
.section {
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  padding: 1rem;
  text-align: center;
  background-color: gray
}